<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" verbose="1">
    <test name="p" parallel="methods" thread-count="10">
        <packages>
            <package name="com.alibaba.hologres.client.*">
                <exclude name="com.alibaba.hologres.client.statefull.*"></exclude>
            </package>
        </packages>
    </test>
    <test name="s">
        <packages>
            <package name="com.alibaba.hologres.client.statefull.*">
            </package>
        </packages>
    </test>
</suite>
