DINGDING_SECRET: ''
DINGDING_TOKEN: ''
OPENAI_API_BASE: 'https://api.openai-proxy.com/v1'
OPENAI_API_KEY: 'sk-xxxxxxxx'
HOLO_ENDPOINT: 'xxxxxxx.hologres.aliyuncs.com'
HOLO_PORT: '80'
HOLO_DATABASE: 'db_name'
HOLO_USER: 'BASIC$user1'
HOLO_PASSWORD: 'xxxxxx'
